.bg{
    background-color: white;
    border: solid 1px white;
    width: 500px;
    height: 500px;
    margin-left: 40px;
    margin-top: 100px;
}
body{
    background-color: aqua;
}
.po{
    background-color: rgb(14, 136, 14);
  color: white;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  padding: 10px;
  
}
.oi{
    margin-left: 10px;
}
.yu{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 350px;
}
.ko{
   background-color: rgb(13, 197, 16);
    display: inline;
    font-size: 20px;
    color: white;
    border: solid 3px  rgb(173, 21, 21);
    border: 10px;
    margin-left: 450px;
}